<!DOCTYPE html>
<html data-bs-theme="dark">

{{> meta}}

<body class="container" id="top">

<header>
{{> header}}
</header>

<main>
{{{ body }}}
</main>

<footer>
{{> footer }}
</footer>

</body>
</html>