---
layout: home
---

<!-- bootstrap container -->
<div class="container">

	<!-- header -->
	{% include title.html %}

	<!-- main -->
	<main>
		{% include games.html %}
		{% include programming.html %}
		{% include graphics.html %}
		{% include extensions.html %}
		{% include blog.html %}
	</main>

</div>

{% include footer.html %}

<!-- faster page loading -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="assets/js/jquery-slim.min.js"><\/script>')</script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/holder.min.js"></script>

<!--
<script src="assets/js/masonry.min.js"></script>
<script>
$('.masonry-grid').masonry({
  // options
	itemSelector: '.masonry-block',
	columnWidth: '.masonry-block',
	gutter: ".gutter-sizer",
  percentPosition: true,
  transitionDuration: 0
});
</script>
-->
