:root {
    --highlight-color: null;
    --highlight-background: null;
}

::selection {
    /* color: var(--highlight-color); */
    background: var(--highlight-background);
}

body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 1000;
}

.btn-primary {
    --bs-btn-bg: var(--bs-yellow);
    --bs-btn-border-color: var(--bs-yellow);
    --bs-btn-hover-bg: var(--bs-yellow);
    --bs-btn-hover-border-color: var(--bs-yellow);
    --bs-btn-active-bg: var(--bs-yellow);
    --bs-btn-active-border-color: var(--bs-yellow);
}

.card {
    border-radius: 0;
    --bs-card-border-width: var(0);
    --bs-card-border-color: var(--bs-purple);
    --bs-card-border-radius: var(0);
    --bs-card-bg: var(--bs-purple);
    --bs-card-color: var(--bs-white);
}

.card:hover {
    --bs-card-bg: var(--bs-pink);
    --bs-card-border-color: var(--bs-pink);
}


.badge {
    color: var(--bs-purple);
    background-color: var(--bs-yellow);
}

.title-card {
    position: absolute;
    width: 100%;
    max-width: calc(700px + 10%);
    top: calc(50% - 50px);
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3% 5% 3% 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 32px;
    background: #344599;
    box-sizing: border-box;
}

.connect {
    width: 80%;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
}

.highlight {
    height: 24px;
    position: relative;
    top: -28px;
    left: -10px;
    width: calc(100% + 10px);
    max-width: 100vw;
    z-index: -1;
    border-radius: 2px;
    background: var(--highlight-color);
}

/* ul li {
    list-style: none;
}

ul>li::before {
    content: "➡️";
    margin-right: 8px;
} */

ol li {
    list-style: none;
}

ol>li::before {
    margin-right: 8px;
}

ol>li:nth-child(1)::before {
    content: "1️⃣";
}

ol>li:nth-child(2)::before {
    content: "2️⃣";
}

ol>li:nth-child(3)::before {
    content: "3️⃣";
}

ol>li:nth-child(4)::before {
    content: "4️⃣";
}

ol>li:nth-child(5)::before {
    content: "5️⃣";
}

ol>li:nth-child(6)::before {
    content: "6️⃣";
}

ol>li:nth-child(7)::before {
    content: "7️⃣";
}

ol>li:nth-child(8)::before {
    content: "8️⃣";
}

ol>li:nth-child(9)::before {
    content: "9️⃣";
}

ol>li:nth-child(10)::before {
    content: "🔟";
}

pre {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

details summary {
    cursor: pointer;
    list-style: none;
}

details summary::marker {
    content: "";
}

details summary::before {
    content: "ℹ️";
    margin-right: 8px;
}

details[open] summary::before {
    content: "⬇️";
}

footer {
    margin-top: 1rem;
    color: var(--bs-purple);
    background-color: var(--bs-yellow);
}