---
import Layout from '@/layouts/Page.astro';
import CourseCard from '@/components/CourseCard.astro';

const courses = [
  {
    title: 'GPR300',
    href: 'https://mathewmariani.com/gpr300-sokol',
    description:
      'A learn-by-doing course package to gain a profound appreciation for the graphics pipeline, rendering tools, post-processing algorithms and industry-standard shaders.',
    tech: ['C++', 'cmake', 'OpenGL', 'WebAssembly'],
  },
  {
    title: 'GPR340',
    href: 'https://mathewmariani.com/gpr340-sokol',
    description:
      'A learn-by-doing course package to gain a technical introduction to the core concepts of artificial intelligence in games.',
    tech: ['C++', 'cmake', 'Artificial Intelligence', 'WebAssembly'],
  },
];
---

<Layout>
  <div class="vstack gap-3">
    <h1>Course packages for courses I've taught.</h1>
    {courses.map((course) => <CourseCard {...course} />)}
  </div>
</Layout>
