---
import Layout from '../layouts/Page.astro';
import { ProjectsLink, ResumeLink } from '../consts';
---

<Layout>
		<h1>Hey, 👋</h1>
		<p class="fs-5">
			I am a versatile professional with a strong background in software development, specializing in back-end systems for online gaming services, including storefronts, matchmaking, and voice chat.
		</p>
		<p class="fs-5">
			Additionally, my experience as a program analyst has involved working closely with engineers and designers to develop multi-tiered artificial intelligence systems.
		</p>
		<p class="fs-5">
			Beyond software development, I teach college courses in computer graphics and artificial intelligence systems while also serving as the head coach of a varsity rugby program. These roles allow me to contribute to my community, stay engaged in education, and further develop my leadership and mentorship skills.
		</p>
		<ul class="list">
			<li><a href={ResumeLink()} class="alert-link">Resume</a></li>
			<li><a href={ProjectsLink()} class="alert-link">Projects</a></li>
		</ul>
</Layout>
