---
import Layout from '@/layouts/Page.astro';

import {
	ProjectsLink,
	ResumeLink,
	UbisoftMontreal,
	StockholmSyndromeAI,
	CoursesLink,
} from '../consts';
---

<Layout>
	<h1>Hi, I'm Mathew.</h1>
	<p class="lead">
		I am a versatile professional with a strong background in software
		development, having worked in backend-services and artificial
		intelligence systems. As an avid hobbyist, I'm constantly tinkering with
		projects to broaden my skillset, and keep my approach fresh.
	</p>
	<!-- <p class="lead">
			Beyond software development, I teach programming courses while also
			serving as the head coach of a varsity rugby program. These roles
			let me contribute to my community, stay engaged in education, and
			further develop my soft skills.
		</p> -->
	<p class="lead">
		My previous experiences includes Software Developer @<a
			href={UbisoftMontreal()}>Ubisoft Montreal</a
		>, and Programmer Analyst @<a href={StockholmSyndromeAI()}
			>Stockholm Syndrome.AI</a
		>. Want the full picture?
	</p>
</Layout>

<style></style>
