---
import Layout from '@/layouts/Page.astro';
import ProjectCard from '@/components/ProjectCard.astro';

const projects = [
  {
    href: 'https://clubrugby.ca',
    title: 'ClubRugby.ca',
    description:
      'A centralized platform to view fixtures, scores, and schedules for club rugby teams in Canada.',
    tech: ['VueJS', 'TypeScript', 'Python'],
  },
  {
    href: 'https://mathewmariani.com/interactive-demos',
    title: 'Interactive Demos',
    description: 'Interactive demos inspired by Amit Patel.',
    tech: ['VueJS', 'C++', 'cmake', 'WebAssembly'],
  },
  {
    href: 'https://mathewmariani.com/pti-projects',
    title: 'PTI Projects',
    description:
      'A *small* framework for making retro games with chunky pixels.',
    tech: ['C99', 'C++', 'WebAssembly'],
  },
  {
    href: 'https://mathewmariani.com/ngram-nlp',
    title: 'Natural Language Processing',
    description:
      'Automatic Language Identification using n-gram based language models',
    tech: ['Python', 'VueJS', 'Vite'],
  },
  {
    href: 'https://mathewmariani.com/cel8-samples',
    title: 'cel8',
    description: 'A *tiny* framework for grid-based ASCII games in c99.',
    tech: ['C99', 'WebAssembly'],
  },
  {
    href: 'https://mathewmariani.com/mango-assembler-simulator',
    title: 'Mango Assembler and Simulator',
    description:
      'A simulator with a simplified assembler syntax implemented in TypeScript, using VueJS.',
    tech: ['TypeScript', 'Vite', 'VueJS', 'Assembly'],
  },
  {
    href: 'https://mathewmariani.com/marie-simulator',
    title: 'Marie Assembler and Simulator',
    description: 'Assembler and Simulator written in Javascript using VueJS.',
    tech: ['Javascript', 'VueJS'],
  },
  {
    href: 'https://mathewmariani.com/ngram-nlp',
    title: 'Boids',
    description:
      "An implementation of Craig Reynolds' Boids as an exploration in CoffeeScript.",
    tech: ['CoffeeScript'],
  },
];
---

<Layout>
  <div class="vstack gap-3">
    <h1>
      A showcase of personal projects I've created using various technologies.
    </h1>
    {projects.map((project) => <ProjectCard {...project} />)}
  </div>
</Layout>
