---
import Layout from '../layouts/Page.astro';
---

<Layout>
<article id="projects">
  <!-- GPR300 -->
  <hr>
  <section class="project">
    <h2><a href="https://mathewmariani.com/gpr300-sokol">GPR300</a></h2>
    <p>A learn-by-doing course package to gain a profound appreciation for the graphics pipeline, rendering tools, post-processing algorithms and industry-standard shaders.</p>
    <h4>Technologies used</h4>
    <ul>
      <li>C++</li>
      <li>Cmake</li>
      <li>Sokol</li>
      <li>OpenGL</li>
    </ul>
  </section>

  <!-- GPR340 -->
  <hr>
  <section class="project">
    <h2><a href="https://mathewmariani.com/gpr340-sokol">GPR340</a></h2>
    <p>A learn-by-doing course package to gain a technical introduction to the core concepts of artificial intelligence in games.</p>
    <h4>Technologies used</h4>
    <ul>
      <li>C++</li>
      <li>Cmake</li>
      <li>Sokol</li>
    </ul>
  </section>

  <!-- Marie -->
  <hr>
  <section class="project">
    <h2><a href="https://mathewmariani.com/marie-simulator">Marie Simulator</a></h2>
    <p>Assembler and Simulator written in Javascript using VueJS.</p>
    <h4>Technologies used</h4>
    <ul>
      <li>Javascript</li>
      <li>VueJS</li>
    </ul>
  </section>

  <!-- ngram-npl -->
  <hr>
  <section class="project">
    <h2><a href="https://mathewmariani.com/ngram-nlp">Natural Language Processing</a></h2>
    <p>Automatic Language Identification using n-gram based language models.</p>
    <h4>Technologies used</h4>
    <ul>
      <li>Python</li>
      <li>VueJS</li>
    </ul>
  </section>

  <!-- coffee-boids -->
  <hr>
  <section class="project">
    <h2><a href="https://mathewmariani.com/coffee-boids">Boids</a></h2>
    <p>An implementation of Craig Reynolds' Boids as an exploration in CoffeeScript.
    </p>
    <h4>Technologies used</h4>
    <ul>
      <li>CoffeeScript</li>
    </ul>
  </section>

  <!-- Mango -->
  <!-- <hr>
  <section class="project">
    <h2>Mango</h2>
    <p>Assembler and Simulator written in Typescript using VueJS.</p>
    <h4>Technologies used</h4>
    <ul>
      <li>Typescript</li>
      <li>VueJS</li>
      <li>HTML5</li>
      <li>CSS3</li>
    </ul>
  </section> -->

</article>
</Layout>