---
import Layout from '@/layouts/Page.astro';
import ContactCard from '@/components/ContactCard.astro';
import ExperienceCard from '@/components/ExperienceCard.astro';

const experience = [
  {
    company: 'Champlain College Vermont',
    role: 'Teacher',
    years: '2023—Present',
    bullets: [
      'Courses: Artificial Intelligence, Graphics Programming.',
      'Multi-tiered decision-making AI systems.',
      'Spatial representation and quantization.',
      'Modern GPU-based approach to graphics using industry-standard shaders.',
      'Post-processing effects and skeletal animations.',
    ],
    tech: ['C++', 'cmake', 'OpenGL', 'Artificial Intelligence'],
  },
  {
    company: 'StockholmSyndrom.AI',
    role: 'Programmer Analyst',
    years: '2022—2023',
    bullets: [
      'Performed client codebase analysis for an unannounced project.',
      'Developed implementation strategies for diverse behavior systems in video games.',
      'Worked on internal developer tools utilizing the Unreal Engine and Unity.',
    ],
    tech: [
      'C++',
      'C#',
      'Program Analysis',
      'Artificial Intelligence',
      'Unreal Engine',
      'Unity3D',
    ],
  },
  {
    company: 'Ubisoft Montreal',
    role: 'Programmer, Online Services',
    years: '2019—2020',
    bullets: [
      'Developed internal matchmaking service used in online multiplayer games.',
      'Integrated API solutions into internally distributed SDKs.',
    ],
    tech: ['C++', 'C#', '.NET Core', 'AWS', 'Redis', 'DynamoDB'],
  },
];
---

<Layout>
  <div class="vstack gap-3">
    <ContactCard
      email="matmariani@hotmail.com"
      github="mathewmariani"
      linkedin="mathewmariani"
    />

    <h1>Experience</h1>

    {experience.map((job) => <ExperienceCard {...job} />)}
  </div>
</Layout>
