---
import Layout from '@/layouts/Page.astro';
---

<Layout>
  <h1 class="display-2"><b>Mathew Mariani</b></h1>
  <div class="highlight"></div>

  <article id="contact">
    <div class="alert alert-dark" role="alert">
      <h4 class="alert-heading">Contact Information</h4>
      <ul class="list">
        <li>
          <a href="mailto:matmariani@hotmail.com">matmariani@hotmail.com</a>
        </li>
        <li>
          <a href="https://github.com/mathewmariani"
            >github.com/mathewmariani</a>
        </li>
        <li>
          <a href="https://linkedin.com/in/mathewmariani">in/mathewmariani</a>
        </li>
      </ul>
    </div>
  </article>

  <article id="experience">
    <h1>Experience</h1>
    <hr />
    <section class="company">
      <h2>Champlain College Vermont | Teacher</h2>
      <p>2023—Present</p>
      <ul class="list">
        <li>Courses: Artificial Intelligence, Graphics Programming.</li>
        <li>Multi-tiered decision-making AI systems.</li>
        <li>Spatial representation and quantization.</li>
        <li>
          Modern GPU-based approach to graphics, using industry-standard
          shaders.
        </li>
        <li>Post-processing effects, and skeletal animations.</li>
      </ul>
      <h4>Technologies used</h4>
      <ul>
        <li class="badge rounded-pill text-bg-primary">C++</li>
        <li class="badge rounded-pill text-bg-primary">cmake</li>
        <li class="badge rounded-pill text-bg-primary">OpenGL</li>
        <li class="badge rounded-pill text-bg-primary">
          Artificial Intelligence
        </li>
      </ul>
    </section>

    <hr />
    <section class="company">
      <h2>StockholmSyndrom.AI | Programmer Analyst</h2>
      <p>2022—2023</p>
      <ul class="list">
        <li>Performed client codebase analysis for an unannounced project.</li>
        <li>
          Developed implementation strategies for diverse behavior systems in
          video games.
        </li>
        <li>
          Worked on internal developer tools utilizing the Unreal Engine and
          Unity.
        </li>
      </ul>
      <h4>Technologies used</h4>
      <ul>
        <li class="badge rounded-pill text-bg-primary">C++</li>
        <li class="badge rounded-pill text-bg-primary">C#</li>
        <li class="badge rounded-pill text-bg-primary">Program Analysis</li>
        <li class="badge rounded-pill text-bg-primary">
          Artificial Intelligence
        </li>
        <li class="badge rounded-pill text-bg-primary">Unreal Engine</li>
        <li class="badge rounded-pill text-bg-primary">Unity3D</li>
      </ul>
    </section>

    <hr />
    <section class="company">
      <h2>Ubisoft Montreal | Programmer, Online Services</h2>
      <p>2019—2020</p>
      <ul class="list">
        <li>
          Developed internal matchmaking service used in online multiplayer
          games in collaboration with the gameplay and game design teams.
        </li>
        <li>
          Integrated API solutions into internally distributed SDKs to utilize
          in-house online systems and services.
        </li>
      </ul>
      <h4>Technologies used</h4>
      <ul>
        <li class="badge rounded-pill text-bg-primary">C++</li>
        <li class="badge rounded-pill text-bg-primary">C#</li>
        <li class="badge rounded-pill text-bg-primary">.NET Core</li>
        <li class="badge rounded-pill text-bg-primary">AWS</li>
        <li class="badge rounded-pill text-bg-primary">Reddis</li>
        <li class="badge rounded-pill text-bg-primary">DynamoDB</li>
      </ul>
    </section>
  </article>
</Layout>
