---
import Layout from '../layouts/Page.astro';
---

<Layout>
  <article id="intro">
    <h1>
      Mathew Mariani
      <small class="text-body-secondary">Generalist Programmer</small>
    </h1>
  </article>

  <article id="contact">
    <div class="alert alert-dark" role="alert">
      <h4 class="alert-heading">Contact Information</h4>
      <ul>
        <li>matmariani@hotmail.com</li>
        <li>github.com/mathewmariani</li>
        <li>linkedin.com/mathewmariani</li>
      </ul>
    </div>
  </article>

  <article id="experience">
    <h1>Experience</h1>
    <hr>
    <section class="company">
      <h2>Champlain College Vermont | Teacher</h2>
      <p>2023—Present</p>
      <ul>
        <li>Courses: Artificial Intelligence, Graphics Programming.</li>
        <li>Multi-tiered decision-making AI systems.</li>
        <li>Spatial representation and quantization.</li>
        <li>Modern GPU-based approach to graphics, using industry-standard shaders.</li>
        <li>Post-processing effects, and skeletal animations.</li>
      </ul>
      <h4>Technologies used</h4>
      <ul>
        <li>C++</li>
        <li>Cmake</li>
        <li>AI</li>
        <li>OpenGL</li>
      </ul>
    </section>

    <hr>
    <section class="company">
      <h2>StockholmSyndrom.AI | Programmer Analyst</h2>
      <p>2022—2023</p>
      <ul>
        <li>Performed client codebase analysis for an unannounced project.</li>
        <li>Developed implementation strategies for diverse behavior systems in video games.</li>
        <li>Worked on internal developer tools utilizing the Unreal Engine and Unity.</li>
      </ul>
      <h4>Technologies used</h4>
      <ul>
        <li>C++</li>
        <li>C#</li>
        <li>Program Analysis</li>
        <li>Unreal Engine</li>
        <li>Unity</li>
      </ul>
    </section>

    <hr>
    <section class="company">
      <h2>Ubisoft Montreal | Programmer, Online Services</h2>
      <p>2019—2020</p>
      <ul>
        <li>Developed internal matchmaking service used in online multiplayer games in collaboration with the gameplay and game design teams.</li>
        <li>Integrated API solutions into internally distributed SDKs to utilize in-house online systems and services.</li>
      </ul>
      <h4>Technologies used</h4>
      <ul>
        <li>C++</li>
        <li>C#</li>
        <li>.NET Core</li>
        <li>AWS</li>
        <li>Reddis</li>
        <li>DynamoDB</li>
      </ul>
    </section>
  </article>
</Layout>