---
import { ProjectsLink, ResumeLink, CoursesLink } from '../consts';

const path = Astro.url.pathname;

const links = [
    { href: ResumeLink(), label: 'Resume' },
    { href: ProjectsLink(), label: 'Projects' },
    { href: CoursesLink(), label: 'Courses' },
];
---

<section class="footer">
    <div class="container">
        <div class="vstack gap-2">
            {
                links
                    .filter((link) => link.href !== path)
                    .map((link) => <a href={link.href}>{link.label}</a>)
            }
        </div>
    </div>
</section>
