---
import { ProjectsLink, ResumeLink, CoursesLink } from '../consts';

const path = Astro.url.pathname;

const links = [
    { href: ResumeLink(), label: 'Resume' },
    { href: ProjectsLink(), label: 'Projects' },
    { href: CoursesLink(), label: 'Courses' },
];
---

<footer class="py-3">
    <div class="container vstack gap-2">
        {
            links
                .filter((link) => link.href !== path)
                .map((link) => (
                    <a class="list-item list-item-navigation" href={link.href}>
                        {link.label}
                    </a>
                ))
        }
    </div>
</footer>
