---
import { HomeLink, ProjectsLink, ResumeLink } from '../consts';
---
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href={HomeLink()}>Mathew Mariani</a>
        <div class="navbar-nav">
            <a class="nav-link" href={ResumeLink()}>Resume</a>
            <a class="nav-link" href={ProjectsLink()}>Projects</a>
        </div>
    </div>
</nav>
<div class="highlight"></div>