---
const { href, title, description, tech = [] } = Astro.props;
---

<a class="card text-decoration-none h-100" href={href}>
    <div class="card-body">
        <h2>{title}</h2>
        <p>{description}</p>

        {
            tech.length > 0 && (
                <>
                    <h4>Technologies used</h4>
                    <ul class="list-unstyled d-flex flex-wrap gap-2">
                        {tech.map((t) => (
                            <li class="badge">{t}</li>
                        ))}
                    </ul>
                </>
            )
        }
    </div>
</a>
