<!doctype html>
<html lang="en">

	<head>
		{% include header.html %}
	</head>

	<body>

		<!-- bootstrap container -->
		<div class="container">
			
			<!-- header -->
			{% include title.html %}

			<!-- banner -->
			<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-dark info rounded">
				<i class="mr-3 fas fa-pencil-alt fa-2x"></i>
				<div>
					<h5 class="mb-0 text-white">{{ page.title }}</h5>
					<small>{{ page.description }}</small>
				</div>
			</div>

			<!-- main -->
			<main>
			    {{ content }}
			</main>

			<div class="btn-toolbar mb-3" role="toolbar">
				<a class="btn btn-dark btn-lg btn-block mb-3" href="{{ site.url }}" role="button">
					<i class="fas fa-arrow-alt-circle-left"></i> Back
				</a>
			</div>
		</div>

		{% include footer.html %}

		<!-- faster page loading -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script>window.jQuery || document.write('<script src="assets/js/jquery-slim.min.js"><\/script>')</script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/holder.min.js"></script>
		<script src="assets/js/masonry.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
		
	</body>

</html>
