---
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import Meta from '@/components/Meta.astro';
---

<html lang="en">
	<head>
		<Meta />
	</head>

	<body>
		<Header />
		<main>
			<div class="container">
				<slot />
			</div>
		</main>
		<Footer />
		<script src="/sugar.js" is:inline></script>
	</body>
</html>
<style></style>
