---
import Footer from "@/components/Footer.astro";
import Meta from "@/components/Meta.astro";
---

<html lang="en" data-bs-theme="dark">
	<head>
		<Meta />
	</head>

	<body class="container" id="top">
		<main>
			<slot />
		</main>
		<Footer />

		<script src="/sugar.js" is:inline></script>
	</body>
</html>
<style></style>
