---
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import Meta from '@/components/Meta.astro';

import 'bootstrap/dist/css/bootstrap.min.css';
import '@mathewmariani/sugar/css/sugar.css';

import 'bootstrap-icons/font/bootstrap-icons.css';
---

<html lang="en">
	<head>
		<Meta />
	</head>

	<body>
		<Header />
		<main>
			<div class="container">
				<slot />
			</div>
		</main>
		<Footer />
		<script>
			import '@mathewmariani/sugar/js/sugar.js';
		</script>
	</body>
</html>
